@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 20px;
    background-color: #aea0ce;
    background-image: linear-gradient(19deg, #3eecac 0%, #ee74e1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Comfortaa', sans-serif;
    user-select: none;
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

p {
    margin: 0;
}

.header {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    position: relative;
    height: 500px;
    width: 500px;
    margin-bottom: 50px;
    border: 1px solid black;
    background-color: ivory;
}

#grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Architects Daughter', sans-serif;
    font-size: 82px;
}

.grid-cell {
    border: 1px solid black;
    display: grid;
    place-content: center;
}

#output {
    font-size: 2.5rem;
    font-weight: 500;
}

.blur {
    filter: blur(5px);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 25px;
    transform: scale(0) translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: 500;
}

.active {
    transform: scale(1) translate(-50%, -50%);
}
